/* 
Lien palette de couleur

https://colorhunt.co/palette/219713 
https://colorhunt.co/palette/225760
https://colorhunt.co/palette/2763
https://colorhunt.co/palette/17117

*/

/* =========================== FONT GOOGLE : ROBOTO regular 400, medium 500, bold 700 =========================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

/* =========================== Variables CSS =========================== */
:root{
    /* ========== taille header ========== */
    --header-height : 5rem; /*80px*/

    /* ========== Couleurs ========== */
    --first-color: #30475e;
    --second-color: ;

    /* ========== font size, familly, weight ========== */
    --font-roboto: 'roboto', sans-serif;

    --font-size-QuizName: 18px;
    --font-size-NbrQuestions: 14px;
}


/* =========================== Classes Générales =========================== */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-roboto);
}


/* =========================== wrapper =========================== */
.wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    
}

/* =========================== quiz =========================== */
#quiz{
    width: 100%;
    background: var(--first-color);
    color: #ffffff;
    padding: 15px 0px 15px 35px;
    border-radius: 40px;
    box-shadow: 0px 10px 15px rgba(30, 51, 71, 0.418);
    transition: all 0.3s;
    user-select: none;
    cursor: pointer;
}
#quiz:hover{
    box-shadow: 0px 10px 15px rgba(30, 51, 71, 0.671);
}
#quiz .quiz__name {
    font-size: var(--font-size-QuizName);
    text-transform: uppercase;
}
#quiz .number__questions{
    color: #95caff;
    font-weight: 600;
    font-size: var(--font-size-NbrQuestions);
}
